body {
  
background-color: rgba(0, 0, 0, 0.500);
}

.header {

display: flex;
justify-content: space-between;
align-items: center;
padding: 1%;
background-color: white;
}

.logo {

display: flex;
align-items: center;
}

.logo img {

height: 50px;
margin-right: 10px;
}

.buttons {

display: flex;
gap: 10px;
}

button {

padding: 10px 15px;
border: none;
border-radius: 5px;
cursor: pointer;
background-color: #000000;
color: white;
transition: background-color 0.3s;
}

button:hover {
  
background-color: #0000008d;
}

.movies {

display: flex;
justify-content: center;
gap: 2%; 
margin: 2%;
}

.movies img {
  
width: 32%;
}