body {

background-color: rgba(0, 0, 0, 0.500);
  }

.movies {

display: flex;
flex-direction: row;
justify-content: center;
gap: 2%;
margin: 2%;
}

.movies img {

flex: 1;
width: 32%;
}

.bottons {

display: flex;
justify-content: center;
}